$calendarBackground = alpha(#efefef,0.95)
$calendarBorderColor = #e3e3e3

$monthForeground = #2C3E50
$monthBackground = transparent

$weekdaysBackground = transparent
$weekdays_color = #2C3E50

$dayForeground = #404848
$dayHoverBackground = #ccc

$disabled_day_color = alpha(black, 0.2)

$todayColor = #7F8C8D
$today_fg_color = #fff

$selectedDayBackground =  #1ABC9C
$selectedDayForeground = #ECF0F1

@require "../flatpickr"

