{
  "presets": [
    [
      "@babel/preset-env", {
      "modules": false
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-object-rest-spread",
      {
      "loose": true,
      "useBuiltIns": true
      }
    ],
    "@babel/plugin-proposal-optional-catch-binding"
  ]
}
