#nav
    background $hero
    position fixed
    height 48px
    line-height 48px
    width 100%
    border-bottom 1px solid alpha(black, 0.07)

    a
        color lighten(invert($hero), 15%)
        display inline-block
        text-decoration none

    #themes
        width auto
        padding 4px 4px
        display inline-block
        height auto

        .dark
            background #2D3245
            color #fafafa

        .material_blue
            background #42A5F5
            color white

        .material_red
            background #EF5350
            color white

        .material_green
            background #1bbc9b
            color white

        .material_orange
            background #ff8a65
            color white


    .navItems
        text-align right

        ul
            list-style none
            margin-left 0

        li
            margin-right 36px
            font-weight 500
            position relative
            display inline-block

            &:hover
                > a
                    text-decoration underline

                ul
                    display block

            ul
                display none
                position absolute
                background white
                width 400%
                //top 0
                right -200%
                margin-left 0
                border 1px solid alpha(black, 0.1)
                border-top 0
                border-bottom 0

                &:before
                    content ""
                    position absolute
                    top: -5px;
                    left: calc(40% - 5px);
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    z-index 9
                    border-bottom: 5px solid white;

                &:after
                    content ""
                    position absolute
                    top: -6px;
                    left: calc(40% - 6px);
                    width: 0;
                    height: 0;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    z-index 8
                    border-bottom: 6px solid alpha(black, 0.1);

                li
                    margin 0
                    display: block;
                    width: 100%;
                    text-align: left
                    padding 0
                    border-bottom 1px solid alpha(black, 0.1)

                    a
                        display block
                        line-height 24px
                        text-decoration none
                        cursor pointer
                        padding 1rem

                    &:hover
                        background alpha(black, 0.05)
                        a, a:hover .desc
                            text-decoration none

            &:last-child
                margin-right 0

#logo
    font-size 2rem
    text-decoration none
    font-family "Roboto Mono"

@media (max-width $device-lg)
    #nav .navItems li
        margin-right 2.5vw

    .github-corner
        display none

@media (max-width $device-md)
    #nav .navItems li.localeLink
        display none
