$calendar_background = #ffffff
$calendar_border_color = #e6e6e6

$months_color = alpha(black, 0.8)

$months_background = transparent

$weekdays_background = transparent

$day_text_color = #393939
$day_hover_background_color = #e6e6e6

$today_color = #f99595
$selected_day_background = #3da3f3

@import "flatpickr_base"
