$calendar_background = #fff
$calendar_border_color = alpha(#484848, 0.1)

$months_color = #fff
$months_background = #FFB866

$weekdays_background = #FFB866

$day_text_color = #484848
$day_hover_background_color = #e2e2e2

$today_color = #bbb

$selected_day_background = #FFB866
$selected_day_color = #fff

$border-calendar-only = true
@import "../flatpickr_base"
