$calendar_background = alpha(#23283c, 0.95)
$calendar_border_color = #23283c

$months_color = #fff
$months_background = transparent

$weekdays_background = transparent
$weekdays_color = #fff

$day_text_color = alpha(white, 0.95)
$day_hover_background_color = lighten($calendar_background, 25%)

$today_color = #eee
$today_fg_color = rgb(35,40,60)

$selected_day_background =  #2f87ff

@require "../flatpickr"
