$calendar_background = #474D5B;
$calendar_border_color = #444;

$months_color = #fff;
$months_background = transparent;

$weekdays_background = transparent;
$weekdays_color = #999;

$day_text_color = #d3d3d3;
$day_hover_background_color = #333;

$today_color = #E26A6A;

$selected_day_background = #4183D7;
$selected_day_color = #fff;

@import "../flatpickr_base"
