$calendar_background = #fb6358
$calendar_border_color = #ff5d52

$months_color = white
$months_background = transparent

$weekdays_background = transparent
$weekdays_color = white

$day_text_color = rgba(72, 27, 24, 0.55)
$day_hover_background_color = white

$disabled_day_color = alpha(white, 0.3)

$today_color = #fff
$today_fg_color = rgb(35,40,60)

$selected_day_background =  white
$selected_day_color = alpha(black, 0.5)
@import "../flatpickr_base"

span.flatpickr-day
	font-weight 400