$calendarBackground = #fff

$monthForeground = #fff
$monthBackground = #42A5F5

$weekdaysBackground = #42A5F5

$dayForeground = #484848
$dayHoverBackground = #e2e2e2

$todayColor = #bbb

$selectedDayBackground = #42A5F5
$selectedDayForeground = #fff

$noCalendarBorder = true
@require "../flatpickr"
