$calendar_background = #fff
$calendar_border_color = alpha(#EF5350, 0.2)

$months_color = #fff
$months_background = #EF5350

$weekdays_background = #EF5350

$day_text_color = #484848
$day_hover_background_color = #e2e2e2

$today_color = #bbb

$selected_day_background = #EF5350
$selected_day_color = #fff

$border-calendar-only = true
@import "../flatpickr_base"
