$calendar_background = #fff;
$calendar_border_color = alpha(#F2784B, 0.2);

$months_color = #fff;
$months_background = #F2784B;

$weekdays_background = #F2784B;
$weekdays_color = #eee;

$day_text_color = #484848;
$day_hover_background_color = #e2e2e2;

$today_color = #484848;

$selected_day_background = #F2784B;
$selected_day_color = #fff;

$border-calendar-only = true;
@import "../flatpickr_base"
