$calendar_background = #fff
$calendar_border_color = alpha(#FF8A65, 0.2)

$months_color = #fff
$months_background = #FF8A65

$weekdays_background = #FF8A65

$day_text_color = #484848
$day_hover_background_color = #e2e2e2

$today_color = #bbb

$selected_day_background = #FF8A65
$selected_day_color = #fff

$border-calendar-only = true
@import "../flatpickr_base"
