$calendar_background = #fff
$calendar_border_color = alpha(#446CB3, 0.2)

$months_color = #fff
$months_background = #446CB3

$weekdays_background = #446CB3
$weekdays_color = #eee

$day_text_color = #484848
$day_hover_background_color = #e2e2e2

$today_color = #E26A6A

$selected_day_background = #446CB3
$selected_day_color = #fff

$border-calendar-only = true
@require "../flatpickr_base"
