$calendarBackground = #3b4252
$calendarBorderColor = #2e3440

$monthForeground = #eceff4
$monthBackground = #3b4252

$weekdaysBackground = transparent
$weekdaysForeground = #fff

$dayForeground = #eceff4
$dayHoverBackground = #4c566a

$todayColor = #434c5e
$today_fg_color = #d8dee9

$selectedDayBackground = #434c5e

@require "../flatpickr"
