$calendarBackground = #eceff4
$calendarBorderColor = #d8dee9

$monthForeground = #2e3440
$monthBackground = #eceff4

$weekdaysBackground = transparent
$weekdaysForeground = #2e3440

$dayForeground = #2e3440
$dayHoverBackground = #d8dee9

$todayColor = #4c566a
$today_fg_color = #d8dee9

$selectedDayForeground = #2e3440
$selectedDayBackground = #d8dee9

@require "../flatpickr"
