$calendar_background = alpha(#efefef,0.95)
$calendar_border_color = #e3e3e3

$months_color = #2C3E50
$months_background = transparent

$weekdays_background = transparent
$weekdays_color = #2C3E50

$day_text_color = #404848
$day_hover_background_color = #ccc

$disabled_day_color = alpha(black, 0.2)

$today_color = #7F8C8D
$today_fg_color = #fff

$selected_day_background =  #1ABC9C
$selected_day_color = #ECF0F1

@import "../flatpickr_base"

