$calendar_background = rgba(35, 40, 60, 0.95)
$calendar_border_color = rgb(35,40,60)

$months_color = #fff
$months_background = transparent

$weekdays_background = transparent
$weekdays_color = #fff

$day_text_color = alpha(white, 0.95)
$day_hover_background_color = #4e545a

$today_color = #eee
$today_fg_color = rgb(35,40,60)

$selected_day_background =  #446CB3

@require "../flatpickr_base"
