$calendarBackground = alpha(#3f4458, 0.95)
$calendarBorderColor = #3f4458

$monthForeground = #fff
$monthBackground = transparent

$weekdaysBackground = transparent
$weekdays_color = #fff

$dayForeground = alpha(white, 0.95)
$dayHoverBackground = lighten($calendarBackground, 25%)

$todayColor = #eee
$today_fg_color = rgb(35,40,60)

$selectedDayBackground =  #2f87ff

@require "../flatpickr"
