doctype html
html(lang='en')
    head
        title flatpickr - lightweight datetimepicker &amp; calendar
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        link(rel='icon', type='image/png', href='favicon.png')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes')
        script(src='bower_components/flatpickr/dist/flatpickr.js')
        link(rel='stylesheet', type='text/css', href='assets/style.min.css')
        link#cal_style(rel='stylesheet', type='text/css', href='bower_components/flatpickr/dist/flatpickr.min.css')

    body
        .row
            .col.col-3.sidebar
                include sidebar

            .col.col-9.content

                .wrapper
                    include content/intro
                    include content/install_use
                    include content/examples
                    include content/events
                    include content/API

                    include content/options
                    include content/format_chars
                    include content/localization

        include forkme
        script(src='assets/js/site.js')

        script(src='assets/highlight/highlight.pack.js', onload="initCode()")
        script(src='assets/js/table-of-contents.js')

