nav#nav
	.wrapper
		.row
			.col-xs-3
				a#logo(href="/") flatpickr

			.col-xs-9.navItems
				ul
					li
						a(href="#") Examples
						ul
							li
								a(href="#example-basic") Basic
							li
								a(href="#example-datetime") Datetime Picker
							li
								a(href="#example-altInput") Human-readable Dates
							li
								a(href="#example-minMaxDate") minDate and maxDate
									.desc limit the range of available dates

							li
								a(href="#example-preload") Preloading Dates
									.desc working with existing dates

							li
								a(href="#example-strap") Custom elements and input groups

							li
								a(href="#disable") Disabling Dates
									.desc incl. by intervals and functions

							li
								a(href="#enable") Enabling dates
									.desc disables all except the ones you specify

							li
								a(href="#example-range") Range Calendar
									.desc selecting a range of dates

							li
								a(href="#example-multiple") Multiple dates
									.desc selecting multiple dates

							li
								a(href="#example-inline") Inline Calendar
							li
								a(href="#example-fiscal") Fiscal Calendar

					li
						a(href="#options") Options

					li.localeLink
						a(href="#locale") Locales

					li.themer
						label
							select#themes
								option(value="") Select Theme
								option(value="default") Default
