.sidebar-inner
	section#logo
		h1 flatpickr
		h5.light A lightweight &amp; powerful datetimepicker


	section#nav
		section
			h2 Getting Started

			a(href="#getting-started") Installing
			a(href="#env-browser") Using in a browser
			a(href="#env-bundle") Using with Webpack/Browserify/etc

		section
			h2 Examples

			a(href="#example-basic") Basic
			a(href="#example-datetime") Datetime Picker
			a(href="#example-altInput") Human-readable Dates
			a(href="#example-minMaxDate") minDate and maxDate
				.desc limit the range of available dates

			a(href="#example-preload") Preloading Dates
				.desc working with existing dates

			a(href="#example-strap") Custom elements and input groups

			a(href="#disable") Disabling Dates
				.desc incl. by intervals and functions

			a(href="#enable") Enabling dates
				.desc disables all except the ones you specify

			a(href="#example-range") Range Calendar
				.desc selecting a range of dates

			a(href="#example-multiple") Multiple dates
				.desc selecting multiple dates

			a(href="#example-inline") Inline Calendar
			a(href="#example-fiscal") Fiscal Calendar

		section
			h2 Events API
			a(href="#event-onChange")
				code onChange

			a(href="#event-onClose")
				code onClose

			a(href="#event-onOpen")
				code onOpen

			a(href="#event-onMonthChange")
				code onMonthChange

			a(href="#event-onYearChange")
				code onYearChange

			a(href="#event-onReady")
				code onReady

			a(href="#event-onValueUpdate")
				code onValueUpdate

			a(href="#event-onDayCreate")
				code onDayCreate

		section
			h2 API
			a(href="#api-changeMonth")
				code changeMonth()
				.desc Changes the current month.

			a(href="#api-clear")
				code clear()

			a(href="#api-close")
				code close()

			a(href="#api-destroy")
				code destroy()

			a(href="#api-formatDate")
				code formatDate(formatStr, dateObj)

			a(href="#api-jumpToDate")
				code jumpToDate(date)

			a(href="#api-open")
				code open()

			a(href="#api-parseDate")
				code parseDate()

			a(href="#api-redraw")
				code redraw()

			a(href="#api-set")
				code set()

			a(href="#api-setDate")
				code setDate(date)

			a(href="#api-toggle")
				code toggle()

		section
			h2 Options
			a(href="#options") Options
			a(href="#formatChars") Date/Time Format Characters
			a(href="#locale") Localization



