.sidebar-inner
	section#logo
		h1 flatpickr
		h5.light A lightweight &amp; powerful datetimepicker


	section#nav
		section
			h2 Getting Started

			a(href="#getting-started") Installing
			a(href="#env-browser") Using in a browser
			a(href="#env-bundle") Using with Webpack/Browserify/etc

		section
			h2 Examples

			a(href="#example-basic") Basic
			a(href="#example-datetime") Datetime Picker
			a(href="#example-altInput") Human-readable Dates
			a(href="#example-minMaxDate") minDate and maxDate
				.desc limit the range of available dates

			a(href="#example-preload") Preloading Dates
				.desc working with existing dates

			a(href="#example-strap") Custom elements and input groups
			a(href="#disable") Disabling Dates
				.desc incl. by intervals and functions
			a(href="#enable") Enabling dates
				.desc disables all except the ones you specify

		section
			h2 Options
			a(href="#options") Options

		section
			h2 Date/Time Format Characters
			a(href="#formatChars") Date/Time Format Characters

