/* =Grid
-----------------------------------------------------------------------------*/

.row
	display -ms-flexbox
	display -webkit-flex
	display flex
	-webkit-flex-wrap nowrap
	-ms-flex-wrap nowrap
	flex-wrap nowrap
	-webkit-flex-basis 100%
	-ms-flex-basis 100%
	flex-basis 100%
	margin-bottom 24px

	.col
		margin 0
		padding 0
		margin-right 24px
		&:last-child
			margin-right 0

	&[end]
		margin-bottom 0

	&[split] .col
		margin-right 0

	&[centered]
		-webkit-justify-content center
		-ms-flex-pack center
		justify-content center

	&[around]
		-webkit-justify-content space-around
		-ms-flex-pack distribute
		justify-content space-around

	&[between]
		-webkit-justify-content space-between
		-ms-flex-pack justify
		justify-content space-between

	&.align-bottom
		.col
			align-self flex-end

	 &.align-top
		.col
			align-self flex-start

	&.align-center
		.col
			align-self center

	&.centered
		align-items center



@media (max-width 768px)
	.row
		-webkit-flex-direction column
		-ms-flex-direction column
		flex-direction column


.col
	-ms-flex-grow 1
	-webkit-flex-grow 1
	flex-grow 1
	-webkit-flex-basis 0
	-ms-flex-basis 0
	flex-basis 0
	&.col-1
		flex-basis 8.33333333%
		width 8.33333333%

	&.col-2
		flex-basis 16.66666667%
		width 16.66666667%

	&.col-3
		flex-basis 25%
		width 25%

	&.col-4
		flex-basis 33.33333333%
		width 33.33333333%

	&.col-5
		flex-basis 41.66666667%
		width 41.66666667%

	&.col-6
		flex-basis 50%
		width 50%

	&.col-7
		flex-basis 58.33333333%
		width 58.33333333%

	&.col-8
		flex-basis 66.66666667%
		width 66.66666667%

	&.col-9
		flex-basis 75%
		width 75%

	&.col-10
		flex-basis 83.33333333%
		width 83.33333333%

	&.col-11
		flex-basis 91.66666667%
		width 91.66666667%

	&.col-12
		flex-basis 100%
		width 100%

	&[offset="1"]
		margin-left calc(9.53333333%)

	&[offset="2"]
		margin-left calc(17.86666667%)

	&[offset="3"]
		margin-left calc(26.2%)

	&[offset="4"]
		margin-left calc(34.53333333%)

	&[offset="5"]
		margin-left calc(42.86666667%)

	&[offset="6"]
		margin-left calc(51.2%)

	&[offset="7"]
		margin-left calc(59.53333333%)

	&[offset="8"]
		margin-left calc(67.86666667%)

	&[offset="9"]
		margin-left calc(76.2%)

	&[offset="10"]
		margin-left calc(84.53333333%)

	&[offset="11"]
		margin-left calc(92.86666667%)

	&.align-bottom
		align-self flex-end

	 &.align-top
		align-self flex-start

	&.align-center
		align-self center



.width-1
	width 8.33333333%


.width-2
	width 16.66666667%


.width-3
	width 25%


.width-4
	width 33.33333333%


.width-5
	width 41.66666667%


.width-6
	width 50%


.width-7
	width 58.33333333%


.width-8
	width 66.66666667%


.width-9
	width 75%


.width-10
	width 83.33333333%


.width-11
	width 91.66666667%


.width-12
	width 100%


@media (max-width 768px)
	.row
		margin-bottom 0
		[offset]
			margin-left 0

		.col[cols]
			margin-right 0
			width 100%
			margin-bottom 24px

		.row column:last-child
			margin-bottom 0


	.width-1, .width-2, .width-3, .width-4, .width-5, .width-6, .width-7, .width-8, .width-9, .width-10, .width-11, .width-12
		width 100%



/* =Blocks
-----------------------------------------------------------------------------*/

.blocks
	display -webkit-box
	display -moz-box
	display -ms-flexbox
	display -webkit-flex
	display flex
	-webkit-flex-wrap nowrap
	-ms-flex-wrap nowrap
	flex-wrap nowrap
	margin-left -2.12765957%
	> div
		margin-left 2.12765957%
		margin-bottom 24px

	&.col-2 > div
		width 47.87234043%

	&.col-3 > div
		width 31.17234043%

	&.col-4 > div
		width 22.87234043%

	&.col-5 > div
		width 17.87234043%

	&.col-6 > div
		width 14.47234043%



@media (max-width 768px)
	body, p
		font-weight 400

	.blocks
		display block
		margin-left 0
		&.col-2 > div, &.col-3 > div, &.col-4 > div, &.col-5 > div, &.col-6 > div
			width 100%
			margin-left 0

	.row .col
		width 100%
		margin-right 0
		&:nth-child(n+1)
			margin-top 2rem

	table
		tr td, thead th
			padding 8px
			font-size 1.4rem




.flex
	display -ms-flexbox
	display -webkit-flex
	display flex
	-webkit-flex-wrap nowrap
	-ms-flex-wrap nowrap
	flex-wrap nowrap
	-webkit-flex-basis 100%
	-ms-flex-basis 100%
	flex-basis 100%

	&.centered
		align-items center
