/* =Grid
-----------------------------------------------------------------------------*/

.row
	display -ms-flexbox
	display -webkit-flex
	display flex
	-ms-flex-wrap wrap
	-webkit-flex-wrap wrap
	flex-wrap wrap
	margin-left -2.12766%
	&.centered
		-ms-flex-pack center
		-webkit-justify-content center
		justify-content center
		.col
			padding-left 1.06383%
			padding-right 1.06383%
	&.right
		-ms-flex-pack end
		-webkit-justify-content flex-end
		justify-content flex-end
	&.bottom
		-ms-flex-align end
		-webkit-align-items flex-end
		align-items flex-end
	&.around
		-ms-flex-pack distribute
		-webkit-justify-content space-around
		justify-content space-around
	&.between
		-ms-flex-pack justify
		-webkit-justify-content space-between
		justify-content space-between
	&.equal
		.col
			display -ms-flexbox
			display -webkit-flex
			display flex
			& > div
				-ms-flex-grow 1
				-webkit-flex-grow 1
				flex-grow 1
	&.splice
		margin-left 0
		.col
			padding-left 0

.col
	-ms-flex-grow 1
	-webkit-flex-grow 1
	flex-grow 1
	-webkit-flex-basis 0
	-ms-flex-basis 0
	flex-basis 0
	max-width 100%
	padding-left 2.12766%
	&.first
		order -1
	&.last
		order 1

@media (max-width: 768px)
	.col
		&.first-on-small
			order -1
		&.last-on-small
			order 1

.pull-right
	margin-left auto

.col-1
	flex-basis 8.33333%
	max-width 8.33333%
	width 8.33333%

.col-2
	flex-basis 16.66667%
	max-width 16.66667%
	width 16.66667%

.col-3
	flex-basis 25%
	max-width 25%
	width 25%

.col-4
	flex-basis 33.33333%
	max-width 33.33333%
	width 33.33333%

.col-5
	flex-basis 41.66667%
	max-width 41.66667%
	width 41.66667%

.col-6
	flex-basis 50%
	max-width 50%
	width 50%

.col-7
	flex-basis 58.33333%
	max-width 58.33333%
	width 58.33333%

.col-8
	flex-basis 66.66667%
	max-width 66.66667%
	width 66.66667%

.col-9
	flex-basis 75%
	max-width 75%
	width 75%

.col-10
	flex-basis 83.33333%
	max-width 83.33333%
	width 83.33333%

.col-11
	flex-basis 91.66667%
	max-width 91.66667%
	width 91.66667%

.col-12
	flex-basis 100%
	max-width 100%
	width 100%

.offset-1
	margin-left 8.33333%

.offset-2
	margin-left 16.66667%

.offset-3
	margin-left 25%

.offset-4
	margin-left 33.33333%

.offset-5
	margin-left 41.66667%

.offset-6
	margin-left 50%

.offset-7
	margin-left 58.33333%

.offset-8
	margin-left 66.66667%

.offset-9
	margin-left 75%

.offset-10
	margin-left 83.33333%

.offset-11
	margin-left 91.66667%

.row-layout
	display -ms-flexbox
	display -webkit-flex
	display flex
	-ms-flex-wrap nowrap
	-webkit-flex-wrap nowrap
	flex-wrap nowrap
	-ms-flex-pack center
	-webkit-justify-content center
	justify-content center

.col-fluid
	-ms-flex-grow 1
	-webkit-flex-grow 1
	flex-grow 1
	width 100%

@media (max-width: 768px)
	.row-layout
		display block
		& > .col-fixed
			order 1
		& > .col-fluid
			order 2

	.col-fixed
		-ms-flex 1 !important
		-webkit-flex 1 !important
		flex 1 !important

	.row
		margin-left 0

	.col
		-ms-flex-direction column
		-webkit-flex-direction column
		flex-direction column
		padding-left 0

	.col:not(th):not(td),
	[class^="col-"]:not(th):not(td),
	[class*=" col-"]:not(th):not(td)
		flex-basis 100%
		max-width 100%
		width 100%

	.pull-right,
	[class^="offset-"],
	[class*=" offset-"]
		margin-left 0



/* =Blocks
-----------------------------------------------------------------------------*/

.blocks
	display -webkit-box
	display -moz-box
	display -ms-flexbox
	display -webkit-flex
	display flex
	-webkit-flex-wrap nowrap
	-ms-flex-wrap nowrap
	flex-wrap nowrap
	margin-left -2.12765957%
	> div
		margin-left 2.12765957%
		margin-bottom 24px

	&.col-2 > div
		width 47.87234043%

	&.col-3 > div
		width 31.17234043%

	&.col-4 > div
		width 22.87234043%

	&.col-5 > div
		width 17.87234043%

	&.col-6 > div
		width 14.47234043%



@media (max-width 768px)
	body, p
		font-weight 400

	.blocks
		display block
		margin-left 0
		&.col-2 > div, &.col-3 > div, &.col-4 > div, &.col-5 > div, &.col-6 > div
			width 100%
			margin-left 0

	.row .col
		width 100%
		margin-right 0
		&:nth-child(n+1)
			margin-top 2rem

	table
		tr td, thead th
			padding 8px
			font-size 1.4rem




.flex
	display -ms-flexbox
	display -webkit-flex
	display flex
	-webkit-flex-wrap nowrap
	-ms-flex-wrap nowrap
	flex-wrap nowrap
	-webkit-flex-basis 100%
	-ms-flex-basis 100%
	flex-basis 100%

	&.centered
		align-items center
