.group
	display block;
	clear both;
	&:after
		content "";
		display block;
		clear both;



.hide
	display none;


.visible
	visibility visible;


.hidden
	visibility hidden;


.highlight
	background-color #f4f4f4;


.big
	font-size 120%;


.small
	font-size 86%;

.smaller
	font-size 74%;

.font-inherit
	font-size inherit !important

input.small
	height 32px


p, ul, ol, dl, blockquote, hr, pre, table, form, fieldset, figure, address
	&.small
		line-height 20px
	&.smaller
		line-height 16px
	&.big
		line-height 28px;


.nowrap
	white-space nowrap;
	td
		white-space nowrap;



.text-center
	text-align center;


.text-right
	text-align right;


.text-left
	text-align left !important;


.start
	margin-top 0 !important;


.last
	margin-right 0 !important;


.end
	margin-bottom 0 !important;


.normal
	font-weight normal !important;


.light
	font-weight 300 !important;


.thin
	font-weight 100 !important;


.bold
	font-weight bold !important;


.italic
	font-style italic !important;


.upper
	text-transform uppercase;


.list-flat
	margin-left 0;
	list-style none;


.muted
	color rgba(0, 0, 0, 0.5);


.soft-muted
	color rgba(0, 0, 0, 0.85);


.color-black
	color black


a.color-black:hover
	color rgba(0, 0, 0, 0.6);


.color-white
	color white


@media (max-width 768px)
	.hide-for-small
		display none;



@media (min-width 768px)
	.show-for-small
		display none;

	.left
		float none;
		float left;

	.right
		float none;
		float right;



@media print
	.hide-for-print
		display none !important;

	.show-for-print
		display block !important;





.swatch, .column.swatch
	padding 2rem 1rem
	display block

.nomargin
	margin 0

.nopadding
	padding 0

.noborder
	border 0 !important

.iconLink
	text-decoration: none;

.padding-m
	padding 1rem



for a, i in ('s' 'm' 'l')
	.margin-bottom-{a}
		margin-bottom 0.8rem*(i+1) !important

	.margin-right-{a}
		margin-right 0.8rem*(i+1) !important

	.margin-left-{a}
		margin-left 0.8rem*(i+1) !important

	.padding-top-{a}
		padding-top 0.8rem*(i+1) !important

	.padding-left-{a}
		padding-left 0.8rem*(i+1) !important

	.padding-right-{a}
		padding-right 0.8rem*(i+1) !important

	.padding-{a}
		padding 0.8rem*(i+1) !important

	.padding-y-{a}
		padding-top 0.8rem*(i+1) !important
		padding-bottom 0.8rem*(i+1) !important

	.padding-x-{a}
		padding-left 0.8rem*(i+1) !important
		padding-right 0.8rem*(i+1) !important



.inline-block, input.inline-block
	display inline-block !important
	width auto

.block
	display block !important

.block.centered
	margin-left auto
	margin-right auto

.transparent
	background transparent

.dim
	opacity 0.75

	&:hover
		opacity 1

.superdim
	opacity 0.5

	&:hover
		opacity 1

.square
	border-radius 0 !important

.disabled
	pointer-events none