/* Atelier Sulphurpool Light by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/sulphurpool) */

/* plain text */
.pln {
  color: #202746;
  color: rgba(32, 39, 70, 0.81);
}

@media screen {
  /* string content */
  .str {
    color: #ac9739;
  }

  /* a keyword */
  .kwd {
    color: #6679cc;
  }

  /* a comment */
  .com {
    color: #898ea4;
  }

  /* a type name */
  .typ {
    color: #3d8fd1;
  }

  /* a literal value */
  .lit {
    color: #c76b29;
  }

  /* punctuation */
  .pun {
    color: #202746;
  }

  /* lisp open bracket */
  .opn {
    color: #202746;
  }

  /* lisp close bracket */
  .clo {
    color: #202746;
  }

  /* a markup tag name */
  .tag {
    color: #c94922;
  }

  /* a markup attribute name */
  .atn {
    color: #c76b29;
  }

  /* a markup attribute value */
  .atv {
    color: #22a2c9;
  }

  /* a declaration */
  .dec {
    color: #c76b29;
  }

  /* a variable name */
  .var {
    color: #c94922;
  }

  /* a function name */
  .fun {
    color: #3d8fd1;
  }
}
/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str {
    color: #006600;
  }

  .kwd {
    color: #006;
    font-weight: bold;
  }

  .com {
    color: #600;
    font-style: italic;
  }

  .typ {
    color: #404;
    font-weight: bold;
  }

  .lit {
    color: #004444;
  }

  .pun, .opn, .clo {
    color: #444400;
  }

  .tag {
    color: #006;
    font-weight: bold;
  }

  .atn {
    color: #440044;
  }

  .atv {
    color: #006600;
  }
}
/* Style */
pre.prettyprint {
  background: #f5f7ff;
  color: #979db4;
  line-height: 1.5;
  border: 1px solid rgba(223, 226, 241, 0.51);
  padding: 10px;
  font-size: 14px;
  tab-size: 4;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  /* */
}

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  /* */
}
