@import url("https://fonts.googleapis.com/css?family=Nunito:700&text=flatpickr");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
@import url("reset.css");
@import url("icons.css");
@import url("prettify.css");

body, input {
    font: 400 15px 'Roboto', sans-serif;
    color: #333;
    line-height: 1.5
}

h1 {
    font-size: 3rem;
    font-family: 'nunito'
}

h2 {
    margin-bottom: 0.75rem;
}

h3 {
    margin-bottom: 0.25rem
}

p
{
    margin: 0rem 0 1rem;
    line-height: 1.5;
    color: #444;
}

.nomargin
{
    margin-bottom: 0
}

a
{
    color: #256bc9;
    text-decoration: none
}

a:hover {
    color: #111;
    text-decoration: underline;
}

.wrapper
{

}

.flex {
    display: inline-block;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    width: 96%;
    max-width: 960px;
    margin: 0 auto;
}

.c-l {
    width: 70%;
}

.c-r {
    width: 30%;
    padding-left: 3%;

}

.c-r ol {
    list-style: none;
    color: #999
}

.c-r li {
    padding: 0.03rem 0
}

.c-r li span {
    float: left;
    min-width: 24px
}

.c-r li a {
    display: block
}



.fixed {
    position: fixed;
    top: 1rem;
    min-width: 270px;
    right:25%\0;
}

.example_wrapper
{
    margin-bottom: 3rem;

}


.hero
{
    padding: 7.5vh 0;
    min-height: 210px;
    max-height: 420px;
    width: 100%;
    margin-bottom: 1.4rem;
    text-align: center;
        color: #222;
    border-bottom: 1px solid #eee;
    background: #f5faff;
}


.hero .btn:hover {
    color: #636363;
    border-color: rgba(0, 0, 0, 0.35);
}


.hero h1{
    margin-top: 0;
    line-height: 3rem;
}
.hero p
{
    opacity: 0.85
}


select {
    padding: 0.25rem;
    font-family: "Roboto";
    text-transform: capitalize;
}

select:focus {
    outline: 0
}

select option {
    font-family: "Roboto";
    text-transform: capitalize;
}

input {

    max-width: 320px;
    outline: none;
    border: 1px solid rgba(0,0,0,0.25);
    border-radius: 3px;
    color: #444;
    padding: 0 0 0 11px;
    height: 40px;
    width: 100%;
    font-size: 14px;
    margin-right: 0;

}

.input-group input {
    float: left;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.input-btn {
    display: inline-block;
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 40px;
    height: 40px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #373a3c;
    float: left;
    border-radius: 0;
    border-left: 0;
    background-color: #f9f9f9;
    border-color: #ccc;

}

.input-btn.last {
    border-right: 1px solid #ccc;
}

.input-btn:hover {
    background-color: #e9e9e9;
    text-decoration: none;
}

.input-btn:active {
    background-color: #ddd;
}
input:focus, input.active
{
    outline: 0;
    background: #fff;
    border-color: #66afe9;

}

.btn {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    color: #444;
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    padding: 3px 12px;
    vertical-align: middle;
}

.btn i {
    vertical-align: middle;
}

.btn i, .btn span {
    line-height: 26px;
}

.btn span {
    padding-top: 1px;
}

.btn:hover {
    background: #fff;
    text-decoration: none;
}

.btn:active {
    box-shadow: inset 0 2px 4px rgba(0,0,0,.25);
}

code {
    background: #f3f3f3;
    padding: 0.15rem 0.25rem;
}

pre
{
    white-space: pre-wrap;
    margin: 0.75rem 0;
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
}


.table
{
    border: 1px solid #e4e4e4;
    border-spacing: 0;
    font-size: 14px;
    width: 100%;
    font-weight: 300
}

.table th {
    text-align: left;
    background: #fafafa;
    color: #888;
}

.table th, .table td
{
    padding: 0.75rem 1rem;
}

.table tr
{
    border-bottom: 1px solid #F3F8FF;
}

.table tr td
{
    color: #444
}

.table tr td:first-child
{
    color: #111;
    font-weight: bold
}

.table  tr:nth-child(2n) {
    background-color: #f9f9f9;
}

@media screen and (max-width: 960px){

    .c-r {
        display: none
    }

    .c-l {
        width: 100%
    }

}


hr {
    display: block;
    box-sizing: content-box;
    height: 1px;
    border: 0;
    margin: 2rem 0 1rem 0;
    border-top: 1px dotted rgba(0, 0, 0, 0.2);
}
