/* =Reset
-----------------------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

html, div, article, section, main, footer, header, form, fieldset, pre, code, p,
input[type="text"], input[type="tel"], input[type="email"], input[type="url"],
input[type="password"] { box-sizing: border-box; }

a:active,
a:hover {
    outline: 0;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

blockquote,
q {
    quotes: none;
}
blockquote p:before,
blockquote p:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption,
th,
td {
    text-align: left;
    vertical-align: top;
}
thead th,
thead td {
    font-weight: bold;
    vertical-align: bottom;
}

a img,
th img,
td img {
    vertical-align: top;
}

button,
input,
select,
textarea {
    margin: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}
button {
    width: auto;
    overflow: visible;
}
input[type="reset"],
input[type="submit"],
input[type="file"],
input[type="radio"],
input[type="checkbox"],
select,
button,
a {
    cursor: pointer;
}
button:active,
button:focus {
    outline: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input[type="radio"],
input[type="checkbox"] {
    font-size: 110%;
    position: relative;
    margin-right: 3px;
    padding: 0;
}
input[type="search"] {
    -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

hr {
    display: block;
    box-sizing: content-box;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

img,
video,
audio,
embed,
object {
    max-width: 100%;
}
img,
video,
embed,
object {
    height: auto;
}
embed,
object {
    height: 100%;
}
img {
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}


body, input {
    font-family: 'Lato', sans-serif;
    color: #333;
    font-size: 1rem;
}

h1, h2, h3
{
    margin: 4rem 0 0.5rem 0;
    color: #4A4A4A

}

h1 {

    font-size: 48px;
    font-family: 'nunito'
}


p
{
    margin-bottom: 1.3em;
    font-size: 1rem;
    line-height: 1.4;

}

.nomargin
{
    margin-bottom: 0
}

a
{
    color: #52B3D9
}



input {
    border: 2px solid #ddd;
    border-radius: 2px;
    padding: 1rem;
    width: 90%;
    width: 400px;
    font-size: 15px;
}

input:focus, input:active
{
    outline: 0;
    border: 2px solid #52B3D9;
    border: 2px solid rgba(82, 179, 217, 0.35);
}

.hero
{
    padding: 7.5vh 0;
    min-height: 150px;
    max-height: 420px;
    background: #4183d7;
    background: #4183d7;
    background: -moz-linear-gradient(45deg,  #4183d7 0%, #87d37c 76%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#4183d7), color-stop(76%,#87d37c));
    background: -webkit-linear-gradient(45deg,  #4183d7 0%,#87d37c 76%);
    background: -o-linear-gradient(45deg,  #4183d7 0%,#87d37c 76%);
    background: -ms-linear-gradient(45deg,  #4183d7 0%,#87d37c 76%);
    background: linear-gradient(45deg,  #4183d7 0%,#87d37c 76%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4183d7', endColorstr='#87d37c',GradientType=1 );
    color: white;
    width: 100%;
}

.hero h1{
    margin-top: 0;
    color: white
}
.hero p
{
    color: white;
    opacity: 0.85
}

.btn.juicy {
    background: #00b796;
    padding: 0.5rem 1.25rem;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    border-radius: 4px;
    transition: background 150ms ease-out;
}

.btn.juicy i
{
    font-size: 1.4rem;
    line-height: 1rem;
    position: relative;
    bottom: -4px;
}

.btn.juicy:hover
{
    background: #1BA39C;
}


.center_text
{
    text-align: center
}

.wrapper
{
    width: 80%;
    max-width: 840px;
    margin: 0 auto;

}

pre
{
    white-space: pre-wrap;
    margin: 0.75rem 0;
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
}

.example_wrapper
{
    margin: 1.5rem 0 3.5rem 0;

}

.table
{
    border: 1px solid #e4e4e4;
    border-spacing: 0;
    font-size: 14px;
    width: 100%;

}

.table th {
    text-align: left;
    background: #7ABD7C;
    color: white;
}

.table th, .table td
{
    padding: 0.75rem 1rem;
}

.table tr
{
    border-bottom: 1px solid #F3F8FF;
}

.table tr td
{
    color: #888
}

.table tr td:first-child, .table tr td:last-child
{
    color: #333
}

.table  tr:nth-child(2n) {
    background-color: #F3F8FF;
}

.flatpickr-months i
{
    font-size: 1.25rem;
    position: relative;
    bottom: -2px;
}