/* Style */
pre.prettyprint
    background #f5f7ff
    font-family Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace
    border 0 !important
    color #979db4
    line-height 24px
    padding 10px
    font-size 1.6rem
    letter-spacing -0.25px
    tab-size 4
    -moz-tab-size 4
    white-space pre-wrap
    word-wrap break-word


.pln
    color #161b1d


/* Specify class=linenums on a pre to get line numbering */
ol.linenums
    margin-top 0
    margin-bottom 0
    color #7195a8


li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9
    padding-left 1em
    background-color #ebf8ff
    list-style-type decimal


@media screen

  /* string content */

  .str
    color #568c3b


  /* keyword */

  .kwd
    color #6b6bb8


  /* comment */

  .com
    color #7195a8


  /* type name */

  .typ
    color #257fad


  /* literal value */

  .lit
    color #935c25


  /* punctuation */

  .pun
    color #161b1d


  /* lisp open bracket */

  .opn
    color #161b1d


  /* lisp close bracket */

  .clo
    color #161b1d


  /* markup tag name */

  .tag
    color #d22d72


  /* markup attribute name */

  .atn
    color #935c25


  /* markup attribute value */

  .atv
    color #2d8f6f


  /* declaration */

  .dec
    color #935c25


  /* variable name */

  .var
    color #d22d72


  /* function name */

  .fun
    color #257fad

