$calendar_background = #ffffff;
$calendar_border_color = #ddd;

$months_color = #000;
$months_background = transparent;

$weekdays_background = transparent;
$weekdays_color = #999;

$day_text_color = #393939;
$day_hover_background_color = #e6e6e6;

$today_color = #f64747;
$selected_day_background = #446CB3;

@import "flatpickr_base"
