.flatpickr-confirm
	height 40px
	max-height 0px
	visibility hidden
	display flex
	justify-content center
	align-items center
	cursor pointer
	background alpha(black, 0.06)

	&.darkTheme
		color white
		fill white


	&.visible
		max-height 40px
		visibility visible

	svg path
		fill inherit

