input.flatpickr {
    cursor: pointer;
}

input[type="text"], input[type="date"], input[type="datetime-local"], input[type="time"] {
	border: 1px solid #c3c3c3;
	height: 36px;
	line-height: 36px;
	width: 100%;
	padding: 8px;
	max-width: 360px;
	border-radius: 3px;
	background: #fff
}

.color-danger {
	color: #f64747 !important;
	fill: #f64747 !important;
}

article.article {
    line-height: 1.5;
}

.palette-primary-blue .article code {
    color: #5b6982;
}

.article ul>li:before {
    display: none;
}

.article ul {
    list-style-type: disc;
}

.article ul ul {
    list-style-type: circle;
}

.input-group {
	display: flex;
	align-items: center
}

input:focus {
	border-color: #4889e0
}

a.input-button {
	text-decoration: none;
	border: 1px solid #bbb;
	display: block;
	padding: 8.5px 12px;
	border-left: 0;
	cursor: pointer;
	align-self: center;
	justify-content: center;
	line-height: 1
}

a.input-button:hover {
	background: #eee;
}

a.input-button svg {
	width: 16px;
	height: 16px;
}

svg path {
	fill: inherit;
}
