.section
	.wrapper
		h2 Discover
		.row
			.col.col-6
				input#playground_calendar(type='text', placeholder="Try me..")


			.col.col-6
				div
					label
						strong Theme:
						select#themes
							option(value='') Select Theme

					hr

				div
					strong Mode:
					div
						label
							input.mode(type="radio", name="mode", data-option="mode", value="single", checked)
							| Single Date&nbsp;

						label
							input.mode(type="radio", name="mode", data-option="mode", value="multiple")
							| Multiple Dates&nbsp;

						label
							input.mode(type="radio", name="mode", data-option="mode", value="range")
							| Range (experimental)

					hr

				#playground

				div
					hr
					label Set minimum date
						span.desc e.g. 'today', '2016-10-20'
					p.input-group
						input(id="minDate", type='text', data-input, placeholder='Type Date and hit Enter')
						a.input-btn(data-clear, id="minDateClear")
							i.icon-close

				hr

				a.btn(id="show_json", outline, type='black') Show JSON
				pre(id="playground_json")



hr