section#getting-started
	section
		h2 Getting Started
		pre
			code.
				npm install flatpickr // npm
				bower install flatpickr-calendar // bower


		p#env-browser The latest version of Flatpickr can also be loaded from a CDN
		p
			pre
				code.
						&lt;link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css"&gt;
						&lt;script src="https://unpkg.com/flatpickr"&gt;&lt;/script&gt;

	section
		h3 Invocation
			p
				pre
					code.
						flatpickr(".selector", {}); // [Flatpickr, Flatpickr, ...]
						document.getElementById("myID").flatpickr(config); // Flatpickr
						let calendar = new Flatpickr(element, config); // Flatpickr

						// jQuery
						$(".selector").flatpickr({});


		h3#env-bundle Using flatpickr as a module
		p
			pre
				code.
					const Flatpickr = require("flatpickr");
					new Flatpickr(element, config); // where element is an html node, not a selector


