section#getting-started
	section
		h2 Getting Started
		.row
			.col
				code npm install flatpickr
				br

				code bower install flatpickr-calendar

			.col.text-right
				a.btn(href='https://github.com/chmln/flatpickr/archive/gh-pages.zip', type='success')
					span Download&nbsp;
					i.icon-angle-double-down
	section
		h3#env-browser Flatpickr in browsers
		p
			pre
				code.
					&lt;link rel="stylesheet" href=".../flatpickr.min.css"&gt;
					&lt;script src=".../flatpickr.min.js"&gt;&lt;/script&gt;
		p Then,
			pre
				code.
					flatpickr(".selector", {});
					document.getElementById("myID").flatpickr({});
					$(".selector").flatpickr({}); // jQuery

	section
		h3#env-bundle Flatpickr as a module
		p
			pre
				code.
					const Flatpickr = require("flatpickr");
					// ...
					new Flatpickr(element, config);

