section#hero
	.wrapper
		h1 The last datetime picker you'll ever need.
		.row
			.col
				.row.why-awesome
					.col
						span
							i.icon-check
							|&nbsp;Lightweight, with no dependencies (like jQuery)

						span
							i.icon-check
							|&nbsp;Native Android+iOS datetime widget support

						span
							i.icon-check
							|&nbsp;Works with IE9 and up

					.col
						span
							i.icon-check
							|&nbsp;Range calendar

						span
							i.icon-check
							|&nbsp;Smart, sensible defaults

						span
							i.icon-check
							|&nbsp;Comes with 8 themes, 37 locales, and SVG icons


		//input.flatpickr(type="text", placeholder="Select Date..")

