#local.example
    h2#locale Localization
    p
        a(href='https://github.com/chmln/flatpickr/tree/master/dist/l10n', target='_blank') Over 25 languages
        | &nbsp;are available.

    p Flatpickr can be localized per-instance, or globally.
    section
        h4 Localization in a Browser Environment
        p
            pre
                code.
                    &lt;script src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js"&gt;&lt;/script&gt;
                    &lt;script src="https://npmcdn.com/flatpickr/dist/l10n/ru.js"&gt;&lt;/script&gt;
            p
                pre
                    code.
                        flatpickr("mySelector", {
                            "locale": "ru"
                        });

            p
                .padding-y-s Localize globally:
                pre
                    code.
                        Flatpickr.localize(Flatpickr.l10ns.ru);
                        flatpickr("mySelector");

    section
        h4 Localization in a Module Environment
        p
            pre
                code.
                    const Flatpickr = require("flatpickr");
                    const Russian = require("flatpickr/dist/l10n/ru.js").ru;
                    // or.. import {ru} from "flatpickr/dist/l10n/ru.js"

                    new Flatpickr(myElem, {
                        "locale": Russian
                    });

            | Localize globally:
            pre
                code.js.
                    const Russian = require("flatpickr/dist/l10n/ru.js");
                    Flatpickr.localize(Russian); // default locale is now Russian
                    new Flatpickr(myElem);

    section
        p You may also wish to modify only certain values of locale.
        p For instance, to set the first day of the week to Monday:
        pre
            code.
                Flatpickr.l10ns.default.firstDayOfWeek = 1; // Monday
                flatpickr("mySelector");
                new Flatpickr(myElem);

    table.table
        thead
            tr
                th Property
                th Type
                th Default
                th Description
        tbody
            tr
                td l10ns.default.weekdays.shorthand
                td array
                td [&apos;Sun&apos;, &apos;Mon&apos;, &apos;Tue&apos;, &apos;Wed&apos;, &apos;Thu&apos;, &apos;Fri&apos;, &apos;Sat&apos;]
                td The shortened version of each weekday, starting with Sunday
            tr
                td l10ns.default.weekdays.longhand
                td array
                td [&apos;Sunday&apos;, &apos;Monday&apos;, &apos;Tuesday&apos;, &apos;Wednesday&apos;, &apos;Thursday&apos;, &apos;Friday&apos;, &apos;Saturday&apos;]
                td The long version of each weekday, starting with Sunday
            tr
                td l10ns.default.months.shorthand
                td array
                td
                    | [&apos;Jan&apos;, &apos;Feb&apos;, &apos;Mar&apos;, &apos;Apr&apos;, &apos;May&apos;, &apos;Jun&apos;, &apos;Jul&apos;, &apos;Aug&apos;, &apos;Sep&apos;, &apos;Oct&apos;, &apos;Nov&apos;, &apos;Dec&apos;]
                td Shortened version of each month, starting with January
            tr
                td l10ns.default.months.longhand
                td array
                td
                    | [&apos;January&apos;, &apos;February&apos;, &apos;March&apos;, &apos;April&apos;, &apos;May&apos;, &apos;June&apos;, &apos;July&apos;, &apos;August&apos;, &apos;September&apos;, &apos;October&apos;, &apos;November&apos;, &apos;December&apos;]
                td Long version of each month, starting with January
            tr
                td l10ns.default.daysInMonth
                td array
                td [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
                td How many days in each month, starting with January
            tr
                td l10ns.default.firstDayOfWeek
                td integer
                td 0
                td
                    | Start the calendar on a different weekday (0 = Sunday, 1 = Monday, 2 = Tuesday, etc.)