.datepickr-wrapper {
    display: inline-block;
    position: relative;
}

.datepickr-calendar {
	font-size: 13px;
	background-color: white;
	color: #333;
	border: 1px solid #ddd;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 2px;
	display: none;
	position: absolute;
    top: 100%;
	left: 0;
	z-index: 100;
}

.open .datepickr-calendar {
    display: block;
}

.datepickr-calendar .datepickr-months {


	color: black;
	padding: 2px;
	text-align: center;
    font-size: 135%;
    font-weight: 200;
}

.datepickr-calendar .datepickr-prev-month,
.datepickr-calendar .datepickr-next-month {
	color: black;
	text-decoration: none;
	padding: 0 .4em;
	cursor: pointer;
}

.datepickr-calendar .datepickr-prev-month {
	float: left;
}

.datepickr-calendar .datepickr-next-month {
	float: right;
}

.datepickr-calendar .datepickr-current-month {
	padding: 0 .5em;
}

.datepickr-calendar .datepickr-prev-month:hover,
.datepickr-calendar .datepickr-next-month:hover {
	color: #c77405;
}

.datepickr-calendar table {
	border-collapse: collapse;
	padding: 0;
	width: 100%;
}

.datepickr-calendar thead {
    font-size: 90%;
}

.datepickr-calendar th,
.datepickr-calendar td {
    width: 14.3%;
}

.datepickr-calendar th {
	text-align: center;
    padding: 5px;
    font-weight: 500
}

.datepickr-calendar td {
	text-align: right;
	padding: 1px;
}

.datepickr-calendar .datepickr-day {
	display: block;

	padding: 5px;
	width: 22px;
	height: 22px;
	line-height: 24px;
	text-align: center;
	cursor: pointer;
	border: 1px solid transparent;
}

.datepickr-calendar .datepickr-day:hover {
	border: 1px solid #ddd;


}

.datepickr-calendar .today .datepickr-day {
	background-color: #f64747;
	border: 1px solid transparent;
	color: #fff;
	border-radius: 150px;
}

.datepickr-calendar .selected .datepickr-day {
	background-color: #1c94c4;
	color: #f6f6f6;
	border-radius: 150px
}

.datepickr-calendar .disabled .datepickr-day,
.datepickr-calendar .disabled .datepickr-day:hover {
	background: transparent;
    color: #bbb;
    cursor: default;
}