/* ============== CALENDAR ============== */

.flatpickr-wrapper
{
    display: inline-block;
    position: relative;
}

.flatpickr-wrapper input
{
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.flatpickr-calendar
{
    background: @calendar_background;
    color: @day_text_color;
    border: 1px solid @calendar_border_color;

    font-size: 13px;
    border-radius: 4px;
    position: absolute; top: 100%; left: 0;
    margin-top: 3px;
    opacity: 0;
    z-index: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-transition: opacity 75ms;
    transition: opacity 75ms;
    width: 100%;
    max-width: 266px;      
}

.open .flatpickr-calendar, .inline .flatpickr-calendar
{
    z-index: 100;
    opacity: 1;
    visibility: visible;
}

.inline .flatpickr-calendar
{
    position: static;
}

/* ======== Month Navigation ======== */

.flatpickr-months {

    background: @months_background;
    color: @months_color;

    padding: 4px 0;
    text-align: center;
    font-size: 135%;
}

.flatpickr-prev-month,
.flatpickr-next-month
{
    text-decoration: none;
    cursor: pointer;
}

.flatpickr-prev-month { float:left; left: 0.4em }
.flatpickr-next-month { float:right; right: 0.4em }

.flatpickr-prev-month:hover,
.flatpickr-next-month:hover { color: @today_color }


.flatpickr-current-month
{
    font-weight: 300;
}

.flatpickr-current-month span { font-weight: 700 }


/* ======== Calendar ======== */

.flatpickr-calendar table
{
    border-collapse: collapse;
    padding: 0;
    width: 100%;
}

.flatpickr-calendar thead { font-size: 90% }

.flatpickr-calendar th,
.flatpickr-calendar td { text-align:center; width: 14.3% }

.flatpickr-calendar th
{
    color: @weekdays_color;

    text-align: center;
    padding: 2px 0 4px;
    font-weight: bold;
}

.flatpickr-calendar tbody td
{
    cursor: pointer;
}

.flatpickr-calendar td:hover .flatpickr-day
{
    background: @day_hover_background_color;
    border-color: @day_hover_background_color;
}

.flatpickr-day
{
    display: inline-block;
    width: 100%;  
    max-width: 32px;
    line-height: 32px; text-align: center;      
    padding: 0; margin: 0 1px 1px 0;    
    border: 1px solid transparent;
    border-radius: 150px; 
}

.flatpickr-calendar tbody td:first-child .flatpickr-day
{
    margin-left: 1px;
}


.today .flatpickr-day
{
    border-color: @today_color;
}

td.today:hover .flatpickr-day
{
    border-color: @today_color;
    background-color: @today_color;
    color: white
}

.selected .flatpickr-day, td.selected:hover .flatpickr-day
{
    background-color: @selected_day_color;
    color: #fff;
    border-color: @selected_day_color;
}

.flatpickr-calendar .disabled,
.flatpickr-calendar .disabled .flatpickr-day,
.flatpickr-calendar .disabled:hover .flatpickr-day
{

    color: @disabled_color;

    background: transparent;
    border-color: transparent;
    cursor: default;

}



/* ============== TIME PICKER ============== */

.flatpickr-time {
    overflow: auto;
    border-top: 1px solid fade(@day_text_color, 15%);
}

.flatpickr-hour, .flatpickr-minute {
    background: transparent;
    -webkit-appearance: none;
    box-shadow: none;
    border: 0;
    display: inline-block;  
    margin: 0;
    padding: 0;
    line-height: 38px;
    cursor: pointer;
    float: left;
    font-weight: bold;
    width: 40%;
    color: @day_text_color;
}

.flatpickr-minute {
    width: 30%;
}

.flatpickr-hour:hover, .flatpickr-minute:hover, .flatpickr-am-pm:hover {
    background: fade(@day_hover_background_color, 30%) ;

}

.flatpickr-hour:focus, .flatpickr-minute:focus {
    outline: 0;
    border: 0;
}

.flatpickr-time-separator, .flatpickr-am-pm  {
    height: 38px;
    display: block;
    line-height: 38px;
    float: left;
    text-align:center;
    width: 5%;
}

.flatpickr-am-pm {
    width: 25%;
    cursor: pointer;
    text-align:left;
}

.flatpickr-hour {
    font-weight: bold;
    text-align:right;
}

.flatpickr-minute {
    font-weight: 300;
    text-align:left;
}

.flatpickr-time input[type=number]::-webkit-inner-spin-button, 
.flatpickr-time input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}