.flatpickr-wrapper
{
    display: inline-block;
    position: relative;
}

.flatpickr-wrapper input
{
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.flatpickr-calendar
{
    font-size: 13px;
    background-color: white;
    color: #484848;
    border-radius: 4px;
    position: absolute; top: 100%; left: 0;
    margin-top: 3px;
    opacity: 0;
    padding: 3px;
    border: 1px solid #ddd;
    max-height: 0;
    z-index: 0;
    overflow: hidden;
    -webkit-transition: opacity 550ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    transition: opacity 550ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
}

.open .flatpickr-calendar, .inline .flatpickr-calendar
{
    max-height: 286px;
    z-index: 100;
    opacity: 1;
}

.inline .flatpickr-calendar
{
    position: static;
}

.flatpickr-months
{
    color: black;
    padding: 2px;
    text-align: center;
    font-size: 135%;
}

.flatpickr-prev-month,
.flatpickr-next-month
{
    text-decoration: none;
    padding: 0 .4em;
    cursor: pointer;
}

.flatpickr-prev-month { float: left }

.flatpickr-next-month { float: right }

.flatpickr-current-month
{
    padding: 0 .5em;
    font-weight: 300;
}

.flatpickr-current-month span { font-weight: 700 }

.flatpickr-prev-month:hover,
.flatpickr-next-month:hover { color: #f64747 }

.flatpickr-calendar table
{
    border-collapse: collapse;
    padding: 0;
    width: 100%;
}

.flatpickr-calendar thead { font-size: 90% }

.flatpickr-calendar th,
.flatpickr-calendar td { width: 14.3% }

.flatpickr-calendar th
{
    text-align: center;
    padding: 5px;
    font-weight: bold;
    color: #999;
}

.flatpickr-calendar .slot
{
	cursor: pointer;
}

.flatpickr-day
{
    border: 1px solid transparent;
    display: block;
    height: 32px;
    line-height: 32px;
    padding: 0;
    text-align: center;
    width: 32px;
    border-radius: 150px;
    margin: 1px;
}

.flatpickr-calendar td:hover .flatpickr-day
{
    background: #e6e6e6;
    border-color: #e6e6e6;
}

.today .flatpickr-day
{
    border-color: #f64747;
}

td.today:hover .flatpickr-day
{
	border-color: #f64747;
	background-color: #f64747;
	color: white
}

.selected .flatpickr-day, td.selected:hover .flatpickr-day
{
    background-color: #446CB3;
    color: #fff;
    border-color: #446CB3;
}

.flatpickr-calendar .disabled,
.flatpickr-calendar .disabled .flatpickr-day,
.flatpickr-calendar .disabled:hover .flatpickr-day
{
    background: transparent;
    border-color: transparent;
    color: #ddd;
    cursor: default;
}