.flatpickr-wrapper {
    display: inline-block;
    position: relative;
}

.flatpickr-wrapper input
{
	cursor: pointer
}

.flatpickr-calendar {
	font-size: 13px;
	background-color: white;
	color: #333;
	border: 1px solid #ddd;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 2px;
	display: none;
	position: absolute;
    top: 100%;
	left: 0;
	z-index: 100;
}

.open .flatpickr-calendar {
    display: block;
}

.flatpickr-calendar .flatpickr-months {


	color: black;
	padding: 2px;
	text-align: center;
    font-size: 135%;

}

.flatpickr-calendar .flatpickr-prev-month,
.flatpickr-calendar .flatpickr-next-month {
	color: black;
	text-decoration: none;
	padding: 0 .4em;
	cursor: pointer;
}

.flatpickr-calendar .flatpickr-prev-month {
	float: left;
}

.flatpickr-calendar .flatpickr-next-month {
	float: right;
}

.flatpickr-calendar .flatpickr-current-month {
	padding: 0 .5em;
	font-weight: 300;
}

.flatpickr-calendar .flatpickr-prev-month:hover,
.flatpickr-calendar .flatpickr-next-month:hover {
	color: #c77405;
}

.flatpickr-calendar table {
	border-collapse: collapse;
	padding: 0;
	width: 100%;
}

.flatpickr-calendar thead {
    font-size: 90%;
}

.flatpickr-calendar th,
.flatpickr-calendar td {
    width: 14.3%;
}

.flatpickr-calendar th {
	text-align: center;
    padding: 5px;
    font-weight: 500
}

.flatpickr-calendar td {
	text-align: right;
	padding: 1px;
}

.flatpickr-calendar .flatpickr-day {
	display: block;

	padding: 0;
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	cursor: pointer;
}

.flatpickr-calendar .flatpickr-day:hover {
	background: #e6e6e6;
	border-radius: 150px;

}

.flatpickr-calendar .today .flatpickr-day {
	background-color: #f64747;
	color: #fff;
	border-radius: 150px;
}

.flatpickr-calendar .selected .flatpickr-day {
	background-color: #446CB3;
	color: #f6f6f6;
	border-radius: 150px
}

.flatpickr-calendar .disabled .flatpickr-day,
.flatpickr-calendar .disabled .flatpickr-day:hover {
	background: transparent;
    color: #bbb;
    cursor: default;
}