$calendar_background: #474D5B;
$calendar_border_color: #444;

$months_color: #fff;
$months_background: transparent;
$weekdays_color: #999;

$day_text_color: #A8AFB7;
$day_hover_background_color: #333;

$today_color: #E26A6A;
$selected_day_color: #5C97BF;

$disabled_color: #606060;