$device-sm = 30em
$device-md = 50em
$device-lg = 72em
$column-gutter = 1.4rem


.container
    margin: 0 auto
    padding: 0 $column-gutter
    max-width: $device-lg

.container:after, .row:after
    content: ""
    display: table
    clear: both

.row
    display: flex
    flex-flow: row wrap
    margin-right: -($column-gutter/2)
    margin-left: -($column-gutter/2)
    &.align-middle
        align-items: center
    &.align-bottom
        align-items: flex-end
    &.align-left
        justify-content: flex-start
    &.align-center
        justify-content: center
    &.align-right
        justify-content: flex-end

[class*="col"]
    width: 100%
    padding: 0 ($column-gutter/2)

col-size($col)
    flex-basis: (100% * $col / 12)
    max-width: (100% * $col / 12)

for $col in 1 2 3 4 5 6 7 8 9 10 11 12
    .col-xs-{$col}
        col-size($col)

@media (min-width $device-sm)
    for $col in 1 2 3 4 5 6 7 8 9 10 11 12
        .col-sm-{$col}
            col-size($col)

@media (min-width $device-md)
    for $col in 1 2 3 4 5 6 7 8 9 10 11 12
        .col-md-{$col}
            col-size($col)

@media (min-width $device-lg)
    for $col in 1 2 3 4 5 6 7 8 9 10 11 12
        .col-lg-{$col}
            col-size($col)
